<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Employees</title>
  <link rel="stylesheet" href="/styles">
</head>

<body>
  <h1>Employees</h1>
  <ul id="list">
    {}
    <!-- List of employees will be dynamically loaded here -->
  </ul>

  <h2>New Employee</h2>
  <!-- Form to create a new employee (POST /employee) -->
  <form id="form">
    <label for="name">Employee name:</label>
    <input type="text" name="name" placeholder="Employee Name" required>
    <button type="submit">Add Employee</button>
  </form>

  <script src="/js/employees.js"></script>
</body>

</html>