<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{name}</title>
  <link rel="stylesheet" href="/styles">
</head>

<body>
  <h1>Income vs Expense Graph (Estimate: {estimate})</h1>
  <ul>
    {income_expense}
  </ul>
  <h1>Tool Graph</h1>
  <ul>
    {tool}
  </ul>
  <h1>Income</h1>
  <ul>
    {income}
  </ul>
  <form id="income" class="form">
    <label for="amount">Amount</label>
    <input type="number" name="amount" required>
    <label for="date">Date</label>
    <input type="date" name="date">
    <button type="submit">Add</button>
  </form>
  <h1>Expense</h1>
  <ul>
    {expense}
  </ul>
  <form id="expense" class="form">
    <label for="amount">Amount</label>
    <input type="number" name="amount" required>
    <label for="reason">Reason</label>
    <input type="text" name="reason" required>
    <label for="date">Date</label>
    <input type="date" name="date">
    <button type="submit">Add</button>
  </form>

  <script src="/js/project.js"></script>
</body>

</html>